*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* temporaly colors for wireframes and layout */

body{
    background-color: rgb(226, 219, 152);
    height: 100%;
}
.header{
    background-color: rgb(178, 120, 231);
    height: 180px;
}
.logo{
    background-color: rgb(196, 111, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_Photos{
    background-color: rgb(29, 227, 245);
    height: 90vh;
}
.footer{
    background-color: rgb(212, 123, 242);
    height: 10vh;
}
.logotipo{
    background-color: aliceblue;
    padding: 15px; 
    width: 100%;
    height: 90%;
}
.navbar_Sections{
    background-color: rgb(182, 233, 182);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
}
.btns_navbar{
    width: 95%;
    margin: 10px 5px;
    background-color: aqua;
    height: 90%;
}
.imagenes{
    background-color: rgb(243, 143, 238);
    width: 250px;
    height: 250px;
    margin: 20px;
}